
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*li{
    background: url(../Barra-de-navegacao-V/img/seta.png) no-repeat left center;
}*/
ul a{
    width:200px;
    height:40px;
    display: block;
    border: 1px solid black;
    background: url(../Barra-de-navegacao-V/img/menu.png) no-repeat ;
    text-decoration: none;
    text-indent: 40px;
    line-height:40px;
    color: #000;

}
a:hover{
    background-position: right bottom;
}