.conteudo1{
    border: 1px solid red;
    background: orange;
    width:200px;
    height: 200px;
    position: absolute;
    z-index: 5;
}
.conteudo2{
    border: 1px solid red;
    background: rgb(48, 100, 245);
    width:200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index:2 ;
}
.conteudo3{
    border: 1px solid red;
    background: rgb(214, 218, 37);
    width:200px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1 ;
}
/*z-index serve para sobrepor um elemento quanto maior for seu numero
*/